<dark-light-toggle class="flex items-center" title="Dark Light toggle">
  <span class="clickable iconify tabler--moon dark:tabler--sun"></span>
</dark-light-toggle>

<script>
  class DarkLightToggle extends HTMLElement {
    connectedCallback() {
      this.addEventListener('click', () => {
        const isLight = window.mode.getMode() === 'light'

        window.mode.setMode(isLight ? 'dark' : 'light')
      })
    }
  }
  customElements.define('dark-light-toggle', DarkLightToggle)
</script>
