---
import type { NavItem } from '@/types'
import { isAbsolute } from '@/util'

export interface Props {
  item: NavItem
}

const {
  item: { href, icon, label }
} = Astro.props
---

<a
  class="flex flex-col justify-center"
  href={href}
  target={isAbsolute(href) ? '_blank' : '_self'}
  aria-label={label}
  rel="noopener noreferrer"
>
  <span title={label} class={`iconify clickable ${icon}`}></span>
</a>
