---
import type { NavItem } from '@/types'
import { isAbsolute } from '@/util'
import type { JSX } from 'astro/jsx-runtime'

export interface Props {
  item: NavItem
  isActive?: boolean
  role?: JSX.AriaRole
}

const {
  isActive = false,
  item: { href, icon, label },
  role
} = Astro.props
---

<a
  href={href}
  class={`flex items-center gap-1 whitespace-nowrap ${
    isActive ? 'text-accent/100' : 'clickable'
  }`}
  target={isAbsolute(href) ? '_blank' : '_self'}
  {role}
>
  {icon && <span class={`iconify text-xl ${icon}`} />}
  <span class={isActive ? `underline` : ''}>
    {label}
  </span>
</a>
