<mobile-nav-toggle>
  <button
    class="flex items-center"
    title="Toggle mobile nav"
    aria-label="closed"
  >
    <span
      aria-hidden="true"
      id="mobile-nav-icon"
      class="clickable iconify tabler--menu-2"></span>
  </button>
</mobile-nav-toggle>

<script>
  class MobileNavToggle extends HTMLElement {
    connectedCallback() {
      const iconOpen = 'tabler--x'
      const iconClosed = 'tabler--menu-2'

      const nav = document.querySelector<HTMLElement>('#mobile-nav')
      const icon = this.querySelector('#mobile-nav-icon')
      const button = this.querySelector('button')

      if (!nav || !icon || !button) return

      const inner = nav.firstElementChild

      const navIsOpen = () => !nav.classList.contains('invisible')

      nav.addEventListener('transitionend', (event) => {
        if (event.propertyName === 'grid-template-rows' && navIsOpen())
          inner?.classList.replace('overflow-hidden', 'overflow-visible')
      })

      const close = () => {
        inner?.classList.replace('overflow-visible', 'overflow-hidden')
        nav.classList.add('invisible')
        nav.classList.replace('grid-rows-[1fr]', 'grid-rows-[0fr]')
        icon.classList.replace(iconOpen, iconClosed)
        button.setAttribute('aria-label', 'closed')
      }

      const open = () => {
        nav.classList.remove('invisible')
        nav.classList.replace('grid-rows-[0fr]', 'grid-rows-[1fr]')
        icon.classList.replace(iconClosed, iconOpen)
        button.setAttribute('aria-label', 'open')
      }

      const handleToggle = () => {
        if (navIsOpen()) close()
        else open()
      }

      button.addEventListener('click', handleToggle)
    }
  }

  if (!customElements.get('mobile-nav-toggle'))
    customElements.define('mobile-nav-toggle', MobileNavToggle)
</script>
