<mobile-nav-toggle class="flex items-center" title="Mobile nav toggle">
  <span class="clickable iconify tabler--menu-2"></span>
</mobile-nav-toggle>

<script>
  class MobileNavToggle extends HTMLElement {
    connectedCallback() {
      const iconOpen = 'tabler--x'
      const iconClosed = 'tabler--menu-2'

      const nav = document.querySelector('#mobile-nav')
      const icon = this.querySelector(`.${iconClosed}`)
      if (!nav || !icon) return

      const navIsOpen = () => !nav.classList.contains('hidden')

      this.addEventListener('click', () => {
        if (navIsOpen()) {
          nav.classList.add('hidden')
          icon.classList.replace(iconOpen, iconClosed)
        } else {
          nav.classList.remove('hidden')
          icon.classList.replace(iconClosed, iconOpen)
        }
      })
    }
  }

  customElements.define('mobile-nav-toggle', MobileNavToggle)
</script>
