---
import type { NavItem } from '@/types'

export interface Props {
  item: NavItem
  isActive: boolean
}

const {
  isActive,
  item: { href, icon, label }
} = Astro.props
---

<a
  href={href}
  class={`flex items-center gap-1 ${
    isActive ? 'text-accent/100' : 'clickable'
  }`}
  target={!href.startsWith('/') ? '_blank' : '_self'}
>
  {icon && <span class={`iconify text-xl ${icon}`} />}
  <span class={isActive ? `underline` : ''}>
    {label}
  </span>
</a>
