---
const { class: className, ...rest } = Astro.props
---

<div
  class={`prose prose-lg max-w-full dark:prose-invert prose-h1:text-4xl prose-code:before:!content-none prose-code:after:!content-none sm:prose-h1:text-5xl prose-em:pr-[2px] ${className}`}
  {...rest}
>
  <slot />
</div>

<style is:global>
  .prose code:not(.astro-code code):not(.astro-code-header code) {
    @apply rounded bg-accent/15 px-1 pt-[2px];
  }
</style>
