@layer base {
  :root {
    /* polar night */
    --nord-0: 46, 52, 64;
    --nord-1: 59, 66, 82;
    --nord-2: 67, 76, 94;
    --nord-3: 76, 86, 106;

    /* snow storm */
    --nord-4: 216, 222, 233;
    --nord-5: 229, 233, 240;
    --nord-6: 236, 239, 244;

    /* frost */
    --nord-7: 143, 188, 187;
    --nord-8: 136, 192, 208;
    --nord-9: 129, 161, 193;
    --nord-10: 94, 129, 172;

    /* aurora */
    --nord-11: 191, 97, 106; /* red */
    --nord-12: 208, 135, 112; /* orange */
    --nord-13: 235, 203, 139; /* yellow */
    --nord-14: 163, 190, 140; /* green */
    --nord-15: 180, 142, 173; /* purple */
  }
}
