---
import { adjacentPosts } from '@/util/posts'
import type { CollectionEntry } from 'astro:content'
export interface Props {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props

const { previous, next } = await adjacentPosts(post)
---

<div class="flex grow flex-col justify-end">
  <div class="my-4 grid grid-cols-3">
    <div class="flex flex-col items-start">
      {
        !!next && (
          <a href={`/posts/${next.id}`} class="clickable">
            <div class="flex items-center justify-start gap-1">
              <span class="iconify text-xl tabler--arrow-left" />
              <span>Next post</span>
            </div>
            <span class="mt-2 text-lg sm:text-xl">{next.data.title}</span>
          </a>
        )
      }
    </div>
    <div class="col-start-3 flex flex-col items-end">
      {
        !!previous && (
          <a href={`/posts/${previous.id}`} class="clickable">
            <div class="flex items-center justify-end gap-1">
              <span>Previous post</span>
              <span class="iconify text-xl tabler--arrow-right" />
            </div>
            <span class="mt-2 text-lg sm:text-xl">{previous.data.title}</span>
          </a>
        )
      }
    </div>
  </div>
</div>
