---
import logo from '@/assets/logo.svg'
import { Image } from 'astro:assets'

export interface Props {
  frontmatter: Partial<{
    gradient: boolean
    background: boolean
    logo: boolean
  }>
}

const { gradient, background, logo: showLogo } = Astro.props.frontmatter

const heroVariant = `${gradient ? 'gradient' : ''} ${background ? 'background' : ''}`
---

<div class="w-fit">
  <h1
    id="hero"
    class=`mb-1 sm:mb-2 relative w-fit text-5xl sm:text-8xl font-bold ${heroVariant}`
  >
    <div class="flex items-center gap-4 sm:gap-8">
      {
        showLogo && (
          <Image
            loading="eager"
            alt="Nordlys logo"
            src={logo}
            class="h-[48px] max-w-fit object-scale-down sm:h-24"
          />
        )
      }
      <div>
        <slot />
      </div>
    </div>
    <span id="hero-bg" class={background ? 'ml-12 sm:ml-20' : ''}></span>
  </h1>
</div>

<style is:global>
  #hero {
    @apply text-accent;

    &.gradient {
      @apply bg-gradient-to-r from-accent/25 via-accent/75 to-accent/100 bg-clip-text pb-2 text-transparent;
    }

    &.background {
      @apply mb-2 sm:mb-8;
      #hero-bg {
        @apply absolute inset-0 h-full w-full bg-accent/65 blur-3xl;
      }
    }
  }
</style>
