---
import logo from '@/assets/logo.svg'
import { Image } from 'astro:assets'

export interface Props {
  frontmatter: Partial<{
    gradient: boolean
    background: boolean
    logo: boolean
  }>
}

const { gradient, background, logo: showLogo } = Astro.props.frontmatter

const heroVariant = `${gradient ? 'gradient' : ''} ${background ? 'background' : ''}`
---

<div class="w-fit">
  <h1 id="hero" class=`mb-2 relative w-fit text-8xl font-bold ${heroVariant}`>
    <div class="flex items-center gap-8">
      {showLogo && <Image alt="Nordlys logo" src={logo} height={96} />}
      <div>
        <slot />
      </div>
    </div>
    <span id="hero-bg" class={showLogo ? 'ml-20' : ''}></span>
  </h1>
</div>

<style is:global>
  #hero {
    @apply text-accent;

    &.gradient {
      @apply from-accent/25 via-accent/75 to-accent/100 bg-gradient-to-r bg-clip-text pb-2 text-transparent;
    }

    &.background {
      @apply mb-8;
      #hero-bg {
        @apply bg-accent/65 absolute inset-0 h-full w-full blur-3xl;
      }
    }
  }
</style>
