---
import type { ResolvedTag } from '@/types'

export interface Props {
  tags: ResolvedTag[]
}

const { tags } = Astro.props
---

<div class="flex gap-6 text-base">
  {
    tags.map(({ tag, icon }) => (
      <a class="clickable no-underline" href={`/tags/${tag}`}>
        <span class={`iconify align-middle text-xl ${icon}`} />
        <span class="font-normal">{tag}</span>
      </a>
    ))
  }
</div>
