<scroll-top-button
  title="Scroll to top"
  class="!fixed bottom-20 right-2 z-10 hidden sm:bottom-28 lg:bottom-8"
>
  <div class="clickable flex items-center gap-2 pr-2">
    <span class="iconify text-4xl tabler--arrow-up"></span>
  </div>
</scroll-top-button>

<script>
  class ScrollToTopButton extends HTMLElement {
    connectedCallback() {
      function isBelowViewport() {
        const minHeight = document.documentElement.clientHeight
        const scrollTop =
          document.body.scrollTop || document.documentElement.scrollTop

        return scrollTop > minHeight
      }

      this.addEventListener('click', () => {
        document.body.scrollTop = 0
        document.documentElement.scrollTop = 0
      })

      document.addEventListener('scroll', () => {
        if (isBelowViewport()) this.classList.remove('hidden')
        else this.classList.add('hidden')
      })
    }
  }

  customElements.define('scroll-top-button', ScrollToTopButton)
</script>
