---
import Footer from '@/components/layout/Footer.astro'
import Header from '@/components/layout/Header.astro'
import Prose from '@/components/layout/Prose.astro'
import ScrollProgress from '@/components/scroll/ScrollProgress.astro'
import ScrollToTop from '@/components/scroll/ScrollToTop.astro'
import BaseLayout, { type Props as BaseLayoutProps } from '@/layouts/Base.astro'
import config from '@/theme.config'

export type Props = BaseLayoutProps & {
  frontmatter: Partial<{
    scrollProgress: boolean
    activeHeaderLink: string
    scrollToTop: boolean
  }>
}

const { frontmatter } = Astro.props

const {
  scrollProgress = config.scrollProgress,
  scrollToTop = config.scrollToTop,
  activeHeaderLink
} = frontmatter
---

<BaseLayout frontmatter={frontmatter}>
  {scrollProgress && <ScrollProgress />}
  {scrollToTop && <ScrollToTop />}
  <Header activeHeaderLink={activeHeaderLink} />
  <main class="mx-auto mt-6 w-full max-w-[90%] sm:mt-12 md:max-w-3xl">
    <Prose>
      <slot />
    </Prose>
  </main>
  <slot name="bottom" />
  <Footer />
</BaseLayout>
